:root {
  --primary-color: #664de5;
  --primary-light-color: #7f6be9;
  --primary-lightest-color: #cfc7f5;
  --inter-font: "Inter", sans-serif;
  --gray-color: #808080;
  --light-gray-border: #d1d5db;
  --background-color: #f8f7fd;
}
.gray-color {
  color: var(--gray-color);
}
